body{
    background-color: lightpink;
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-align: center;

}

#sabor{
    color: white;
    font-size: 5rem;
    padding: 1rem;
    border-radius: 10px;
}